/* основной цвет текста #212121; */
/* вторичный цвет текста #757575; */
/* чорный #000000; */
/* белый/цвет фона #FFFFFF; */
/* белый с прозрачностью rgba(255, 255, 255, 0.6); */
/* акцент #2196F3; */
/* цвет кнопки #F5F4FA; */
/* цвет футера #2F303A; */ 

:root {
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --accent-color: #2196F3;
    --primary-white-color: #FFFFFF;
    --white-rgba: rgba(255, 255, 255, 0.6);
    --footer-color: #2F303A;
    --section-button-color: #F5F4FA;
    --logo-black-color: #000000;
}

button {
    font-family: inherit;
    color: inherit;
    cursor: pointer;
    text-align: center;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.link:hover,
.link:focus,
.link:active {
    color: var(--accent-color);
}

/* Body общие */

.page {
    background-color: var(--primary-white-color);
    color: var(--primary-text-color);
    font-family: Roboto, sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
}

.logo {
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}

.logo-black {
    color: var(--logo-black-color);
}

.logo-accent {
    color: var(--accent-color);
}

.list-header {
    letter-spacing: 0.02em;
    font-weight: 500;
    line-height: 1.14;
}

.page-link {
    color: var(--primary-text-color);
}

.page-contact {
    color: var(--secondary-text-color);
}

/* Студия */

.hero {
    background-color: var(--footer-color);
    color: var(--primary-white-color);
}

.hero-tittle {
    letter-spacing: 0.06em;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    text-transform: uppercase;
}

.hero-button {
    letter-spacing: 0.06em;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-color: transparent;
    border-radius: 4px;
}

.hero-button:hover,
.hero-button:focus {
    background-color: #188CE8;
}

.features h3 {
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
}

.features p {
    line-height: 1.71;
}

.description-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

.about {
    background-color: var(--section-button-color);
}

.about-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

.about-list h3, 
.about-list p {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}

.about-item {
    font-weight: 500;
}

/* Портфолио */

.page-button {
    background-color: var(--section-button-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    letter-spacing: 0.03em;
    border-radius: 4px;
    border-color: transparent;
}

.page-button:hover,
.page-button:focus,
.page-button:active {
    background-color: var(--accent-color);
    color: var(--primary-white-color);
    box-shadow: 0px 2px 2px 0px #0000001F;
    box-shadow: 0px 1px 2px 0px #00000014;
    box-shadow: 0px 3px 1px 0px #0000001A;
}

.page-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.page-text {
    color: var(--secondary-text-color);
    font-size: 16px;
    line-height: 1.88;
}

/* footer общие */

.page-footer {
    background-color:var(--footer-color);
    line-height: 1.71;
}

.footer-adress {
    color: var(--primary-white-color);
    font-style: normal;
}

.footer-contact {
    color: var(--white-rgba);
}